/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
:root {
  --pr1--clr: #44787f;
  --pr--clr: #88a8ae;
  --se--clr: #4e8a94;

  --ft--clr: #250b14;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  scroll-behavior: smooth;
  font-family: "Indie Flower", cursive;
  overflow-x: hidden;
  position: relative;
}
main {
  position: relative;
}

main .scrol-up-btn {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  color: white;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
}
nav {
  height: 9.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgb(0, 0, 0); */
  font-size: 2.4rem;
  z-index: 4;
  position: fixed;
}
.menu ul {
  display: flex;
  flex-direction: row;
}
.menu ul li {
  list-style: none;
  display: block;
  padding: 1.6rem 3.2rem;
  color: var(--ft--clr);
  cursor: pointer;
}
.logo-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 600;
  cursor: pointer;
}
.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.flex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search {
  width: 2.4rem;
}
.hero-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-flex h1 {
  padding-top: 10rem;
  font-size: 6.2rem;
  color: var(--ft--clr);
}
.hero-flex p {
  font-size: 3.2rem;
  color: var(--ft--clr);
  width: 80rem;
}
.hero-btn {
  font-size: 3.2rem;
  color: white;

  text-decoration: none;
  padding: 0.8rem 3rem;
  border: 1px solid white;
  border-radius: 5%;
}
.hero-btn:hover {
  color: black;
  background-color: #fff;
}

.hero {
  height: 150vh;

  position: relative;
}
.section-3 {
  min-height: 50vh;
  background-color: var(--pr1--clr);
  padding: 10rem 10rem;
  color: #fff;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.hero::before {
  position: absolute;
  content: "";
  bottom: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to top, var(--pr1--clr), transparent);
  z-index: 0;
}

.s4-title {
  font-size: 2.4rem;
}
.s4-description {
  font-size: 1.6rem;
  width: 80%;
}
.moon {
  position: absolute;
  top: 0%;
  left: 52.5%;
  z-index: 1;
  width: 25rem;
  mix-blend-mode: hard-light;
}
.mountain {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: auto;
  width: 100%;
  object-fit: cover;
  /* transform: rotate(180deg); */
}
.star {
  position: absolute;
  top: 0;
  z-index: -2;
  height: auto;
  width: 100%;
  object-fit: cover;
  /* background: var(--pr1--clr);
  mix-blend-mode: screen; */
}
.section-4 {
  height: fit-content;
  width: 100%;
  background-color: var(--pr1--clr);
}
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* IN THE END */
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}
.carousel-btn-left {
  font-size: 10rem;
  z-index: 1;
  left: 0;
  top: 50%;
  position: absolute;
  cursor: pointer;
}
.carousel-btn-right {
  font-size: 10rem;
  z-index: 1;
  right: 0;
  top: 50%;
  position: absolute;
  cursor: pointer;
}
